<div class "cart">
	<table>
		<!-- all values are placeholders-->
		<tr class = "borders">
			<td>X</td>
			<td>photo</td>
			<td>item description</td>	
			<td>+</td>	
			<td>5</td>	
			<td>-</td>	
		</tr>
	</table>
</div>