/* Place all the styles related to the POS controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

.label1{
  font-size: 2vw;
  font-family: Arial;
  color: black;
}

.screen{
  width: 100%;
  height: 100%;
}

.container{
  max-width: 70%;
  padding: 10px;
}


.fit{
  height: 100%;
  width: 100%;
}

.fit table tr{
  width: 100%;
}


.btn2{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 2vw;
  width: 20vw;
  height:7vh;
  text-decoration: none;
  background: #3498db;
}

 table thead th .text {
  position: fixed;
 }

.cart_partial{
	height: 50vh;
  overflow: scroll;
  border: 1px solid black;
}


.catalog_partial{
	height: 63vh;
  overflow: scroll;
}

.inventory_partial{
  height: 74vh;
  overflow: scroll;
}

.complete_transaction{
	height: 40vh;
}

/*.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 17px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}*/

.btn1{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 2vw;
  height:9vw;
  width:9vw;
  background: #3498db;
  text-decoration: none;
}

.btn1:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
th,td {
    padding: 5px;
}

td {
	text-align: center;
}